html {
  height: 100%;
  width: 100%;
}

body{
  background-color:#acd4f5ff;
  text-align:center;
  margin:0;
  font-family: Helvetica;
}

.logo{
  width:60%;
  float:true;
  margin-top:7px;
}

.logoBack {
  width: 100%;
  height: 10%;
  background-color: #070552ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line{
  width:100%;
  height:5px;
  background-color:#ffce00ff;
}

.user-info {
  position: absolute;
  top: 10px; 
  right: 1vw;
  color: darkblue;
  text-align: right;
  font-family: Helvetica;
}

.user-info p {
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
  color: #acd4f5;
  font-size: 1.7vw;
}

.logout-button {
  border: #990000 2px solid;
  border-radius: 0.4vw;
  padding: 0.2vh 0.5vw;
  background-color: #660000ff;
  color: white;
  font-weight: bold;
  font-size: 1.2vw;
  width: auto;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: #cc0000ff;
  border: black 2px solid;
}

.topnav {
  overflow: hidden;
  background-color: #242c37ff;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.topnav a {
  float: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  height:10px;
  display: flex;
  align-items: center;
}

.topnav a:hover {
  background-color: #c6cacdff;
  color: black;
  font-weight:bold;
}

.topnav a.active {
  background-color: #485867ff;
  color: white;
}
